<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
</head>
<body>
<div>
    <p>{{id}}</p>
    <b>{{title}}</b>
    <i>{{author}}</i>
    <span>{{publisher}}</span>
    <b>{{publishingDate}}</b>
    <i>{{ISBN}}</i>
    <span>{{quantity}}</span>
</div>
<form method="get" action="/order/{{id}}">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Order the book!</button>
</form>
</body>
</html>